* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0;
    background-color: #fff; /* Fondo blanco */
}

p,
h1,
h2,
h3,
a,
button {
    font-family: 'Lato', sans-serif;
}


/* borrar */
body section {
    border-left: black 1px solid;
    border-right: black 1px solid;
}

/*########################*/
/*##      Header        ##*/
/*########################*/

#header {
    /*width: 1280px;
    height: 103px;

    top: 0 ;
    
    position: sticky;
    display: flex;

    justify-content: space-between;
    /*align-items: center;*/
    
    width: 1280px;
    height: 100px;
    display: flex;
    top: 0;
   justify-content: space-between;
    z-index: 1000;
    position: sticky;
    background-image: linear-gradient(to bottom, #00D1D5 0%, #00D1D5 88%);
    transition: ease 0.4s;;
}

#header #btn-hamburguesa {
    display: block;
    width: 34px;
    height: 26px;

    background: none;
    border: none;

    margin-left: 60px;
    margin-top: 20px;
}

#header #btn-hamburgesa #line-top {
    background-image: url("./section1/btnHamTop.svg");

    width: 34px;
    height: 4px;

    border: 2px black solid;
}

#header #btn-hamburgesa #line-mid {


    width: 34px;
    height: 4px;

    border: 2px white solid;
}

#header #btn-hamburgesa #line-bot {


    width: 34px;
    height: 4px;

    border: 2px white solid;
}




#header #logo img{
    width: 150px;
    height: 86px;
    z-index: 2;

    flex-grow: 1; 
    text-align: center; 
    

    background-size: contain;
    background-repeat: no-repeat;
    transition: ease 0.4s;
   
}

#header #btn-comprar {
    background-color: #83C252;
    padding: 10px;
    width: 200px;
    height: 50px;
    border-radius: 111px;

    font-size: 20px;
    font-weight: 900;
    color: white;

    border: solid 8px #FFFFFF;

    line-height: 94.5%;
    letter-spacing: 0.6px; 

    cursor: pointer;

    margin-right: 60px;
    margin-top: 20px;

    
    transition: transform 0.6s ease-in-out;
}

#header #btn-comprar:hover {
    transform: scale(1.2); 
}
header #btn-hamburguesa {
    position: sticky;
    width: 34px;
    height: 26px;
    top: 20px;
    left: 100px;
    filter: drop-shadow(4px 5px 0px #02187E);
    cursor: pointer;
    border-radius: 111px 0px 0px 0px;
    border: 4px;
}

header #btn-hamburguesa .barras{
    box-sizing: content-box;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #F39E46;
    border: 4px solid #FFFFFF;
    border-radius: 10px;
    transition: all 0.3s ease;
    position: relative;     
}

.lin1.active {
    transform: rotate(45deg) translateY(16px);
}
.lin2.active {
    opacity: 0;
}

.lin3.active {
    transform: rotate(-45deg) translateY(-17px);
}



.nav {
    margin-left: 316px;
    display: none;
    position: fixed;
    top: 80px; 
    left: 100px;
    width: 15%; 
    z-index: 1000000;
    padding: 10px 20px; 
    border-radius: 12px; 
    margin-top: 10px;
    
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
}

nav ul {
    list-style: none; 
    padding: 0;
    margin: 0; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

nav ul li {
    opacity: 0; 
    background-color: #F39E46; 
    margin-bottom: 10px; 
    padding: 10px;
    border-radius: 8px; 
    animation: animarEntradaSeccionesNav 0.5s ease forwards;
}

nav ul li:nth-child(1) {
    animation-delay: 0s; 
}

nav ul li:nth-child(2) {
    animation-delay: 0.2s; 
}

nav ul li:nth-child(3) {
    animation-delay: 0.4s;
}

nav ul li:nth-child(4) {
    animation-delay: 0.6s;
}

nav ul li:nth-child(5) {
    animation-delay: 0.8s; 
}

.nav a {
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    padding: 10px 20px; 
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease; 
}

.nav a:hover {
    color: #1B5F99; 
    transform: scale(1.1); 
}

@keyframes animarEntradaSeccionesNav {
    from {
        transform: translateX(-200px); 
        opacity: 0;
    }
    to {
        transform: translateX(0); 
        opacity: 1; 
    }
}

/*########################*/
/*##      Section1      ##*/
/*########################*/

#section1 #logo1 {
    background-image: url("./section1/logo1.svg");

    width: 560px;
    height: 320px;

    z-index: 2;
    margin: 0 auto;
    transition: ease 0.4s;
}

#section1{
    background-image: url("./section1/background.svg");
    width: 1279px;
    height: 959px;
    
    
    z-index: 0;
    

    position: relative;
    overflow: hidden;

}



#section1 #personaje1 {
    z-index: 4;
    background-image: url("./section1/figure1.svg");

    width: 240px;
    height: 314px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 420px;
    top: 527px;
    transform: rotate(-6.51deg);
    animation: animarPersonajes 3s ease;
}

#section1 #personaje2 {
    z-index: 3;
    background-image: url("./section1/figure2.svg");

    width: 197px;
    height: 270px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 520px;
    top: 426px;
    transform: rotate(-6.72deg);
    animation: animarPersonajes 3s ease;
}

#section1 #personaje3 {
    z-index: 2;
    background-image: url("./section1/figure3.svg");

    width: 174px;
    height: 384px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 680px;
    top: 410px;
    transform: rotate(8.73deg);
    animation: animarPersonajes 3s ease;
}

#section1 #arbol1 {
    z-index: 3;
    background-image: url("./section1/arbol1.svg");

    width: 560px;
    height: 868px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: -153px;
    top: 0px;
    animation: animarArbolIzq 1s ease;
}

/*    Arbol Izquierdo    */

#section1 #piedra1 {
    z-index: 4;
    background-image: url("./section1/piedra1.svg");

    width: 145.41px;
    height: 78.09px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 129.07px;
    top: 793.37px;
    animation: animarPiedraDer 3s ease;

}


#section1 #arbusto1 {
    z-index: 5;
    background-image: url("./section1/arbusto1.svg");

    width: 155.51px;
    height: 102.33px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 197.06px;
    top: 821.65px;
    animation: animarArbusto 1s ease;
}

#section1 #arbusto2 {
    z-index: 2;
    background-image: url("./section1/arbusto2.svg");

    width: 249.76px;
    height: 114.44px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 161.38px;
    top: 717.97px;
    animation: animarArbusto 1s ease;
}

/*    Primer Arbol derecha    */

#section1 #arbol2 {
    z-index: 4;
    background-image: url("./section1/arbol2.svg");

    width: 434.21px;
    height: 672.52px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 881.03px;
    top: 106.71px;
    animation: animarArbolDer 1s ease;
}


#section1 #piedra2 {
    z-index: 4;
    background-image: url("./section1/piedra2.svg");

    width: 66.65px;
    height: 56.55px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 1034px;
    top: 737.5px;
    animation: animarPiedraIzq 1.8s;
}

#section1 #piedra3 {
    z-index: 5;
    background-image: url("./section1/piedra3.svg");

    width: 113.77px;
    height: 737.5px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 1072.22px;
    top: 737.5px;
    animation: animarPiedraDer 2.2s ease;
}

#section1 #piedra4 {
    z-index: 6;
    background-image: url("./section1/piedra4.svg");

    width: 59.24px;
    height: 35.01px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 1040px;
    top: 786.64px;
    animation: animarPiedraDer 1.2s ease;
}


/*    Segundo Arbol derecha    */

#section1 #arbol3 {
    z-index: 3;
    background-image: url("./section1/arbol3.svg");

    width: 278.03px;
    height: 430.85px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 1080.97px;
    top: 278.38px;
    animation: animarArbolDer 2.2s ease;
}

#section1 #arbusto3 {
    z-index: 3;
    background-image: url("./section1/arbusto3.svg");

    width: 244.37px;
    height: 107.71px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 1080.97px;
    top: 662.1px;
    animation: animarArbusto 1s ease;
}


#section1 #arbusto4 {
    z-index: 2;
    background-image: url("./section1/arbusto4.svg");

    width: 191.19px;
    height: 63.28px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 1028.46px;
    top: 630.46px;
    animation: animarArbusto 1.5s ease;
}

/*SOMBRAS DE DERECHA A IZQUIERDA 
*/

#section1 #sombra3 {
   z-index: 1;
    position: absolute;
    width: 129px;
    height: 33px;
    left: 684px;
    top: 677px;
    background: rgba(68, 104, 63, 0.61);
    filter: blur(13.5px);
    

}

#section1 #sombra2 {
    z-index: 1;
    position: absolute;
    width: 140px;
    height: 33px;
    top: 727px;
    left: 608px;
    background: rgba(68, 104, 63, 0.61);
    filter: blur(13.5px);

}


#section1 #sombra1 {
    z-index: 1;
    position: absolute;
    width: 140px;
    height: 33px;
    top: 762px;
    left: 494px;
    background: rgba(68, 104, 63, 0.61);
    filter: blur(13.5px);

}

@keyframes animarArbusto {
    from {
        transform: translateY(460px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes animarArbolIzq {
    from {
        transform: translateX(-460px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes animarArbolDer {
    from {
        transform: translateX(460px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes animarPersonajes {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animarPiedraIzq {
    from {
        transform: translateX(-460px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes animarPiedraDer {
    from {
        transform: translateX(460px);
    }

    to {
        transform: translateX(0);
    }
}



/*########################*/
/*##      Section2      ##*/
/*########################*/

#section2 {
    position: relative;

}

#section2 #background1 {
    background-image: url("./section2/section2top.svg");

    width: 1280px;
    height: 894px;
    
    
    z-index: 1;    
    

    position: relative;


}

#section2 #background2 {
    background-image: url("./section2/section2bot.svg");

    width: 1280px;
    height: 700px;

    z-index: 0;

    position: relative;


}

#section2 #div-texto {

    padding-left: 100px;

    padding-top: 40px;

    color: #1B428F;
}

#section2 #div-texto #texto1{
    width: 500px;

    height: 150px;

    font-size: 47px;

    line-height: 94.5%;

    font-weight: 600;
}

#section2 #div-texto #texto2{
    width: 710px;

    height: 130px;

    font-size: 20px;

    
}

#section2 #div-contenedor-imagenes {
    margin-left: 230px;
    width: 510px;
    height: 288px;
    border-radius: 110px;
    border: solid #1B5F99 30px;
    overflow: hidden; 
          
}

#section2 #div-imagen{
    width: 100%;
    height: 100%;
    background-image: url("./section2/img0.svg"); 
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 1s ease-in-out; 
}

#section2 #personaje4 {
    z-index: 4;
    background-image: url("./section2/figure4.svg");

    width: 600px;
    height: 600px;
    
    background-size: contain;
    background-repeat: no-repeat;

    margin-left: 60px;
    margin-top: -120px;


}

#section2 #personaje5 {
    z-index: 4;
    background-image: url("./section2/figure5.png");

    width: 572px;
    height: 1260px;
    
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;

    right: -80px;
    top: -20px;

}

#section2 #div-cards {
    margin-top: 400px;
    display: flex;

    justify-content: space-between;

    margin-left: 100px;
    margin-right: 100px;

}

#card1 {
    opacity: 0;
}
#card2 {
    opacity: 0;
}
#card3 {
    opacity: 0;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(330px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#section2 .texto {
    width: 333px;
    height: 218px;

    font-size: 20px;

    margin-top: 20px;

    font-weight: 600;
}
#card1 .imagen{
    background-image: url("./section2/card1.svg");

    width: 333px;
    height: 303px;

    background-size: contain;
    background-repeat: no-repeat;

}
#section2 #card2 .imagen{
    background-image: url("./section2/card2.svg");

    width: 333px;
    height: 303px;

    background-size: contain;
    background-repeat: no-repeat;

}

#section2 #card3 .imagen{
    background-image: url("./section2/card3.svg");

    width: 333px;
    height: 303px;

    background-size: contain;
    background-repeat: no-repeat;
}


/*########################*/
/*##      Section3      ##*/
/*########################*/

#section3 {
    background-image: url("./section3/background.svg") ;

    width: 1280px;
    height: 1157px;

    background-size: contain;
    background-repeat: no-repeat;

    display: block;

    position: relative;

    overflow: hidden;
}

#section3 #div-texto {
    display: flex;

    text-align: center; 
    justify-content: center;

}

#section3 #texto {
    margin-top: 200px;

    width: 900px;
    height: 150px;

    font-size: 61px;
    font-weight: 500;

    line-height: 110%;

    color: #FFFFFF;

}

#section3 #span {
    font-style:italic;
}

#section3 #div-boton {
    display: flex;

    text-align: center; 
    justify-content: center;

}

#section3 #div-boton button {
    margin-top: 40px;

    border: none;
    background: none;

    width: 540px;
    height: 66px;

    background-color: #83C252;

    color: #FFFFFF;

    font-size: 31px;

    font-weight: 600;

    border: solid white 5px;

    border-radius: 30px;

    cursor: pointer;
}

#section3 #div-figura #figuras {
    position: absolute;
    width: 1424px;
    height: 831px;
    background: url("./section3/figures.svg");
    background-size: 101%;
    background-repeat: no-repeat;
  
  
    transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
}

/*########################*/
/*##      Section4      ##*/
/*########################*/

#section4 {
    width: 1280px;
    height: 6600px;

    overflow: visible;
}

#section4 #titulo {
    margin-top: 160px;
    margin-left: 60px;

    font-size: 60px;
    font-weight: 600;
}


#section4 #container {
    display: flex;
}


#section4 #div-imagen {
    width: 485px;
    height: 514px;

    align-items: center;

    margin-left: 180px;
    margin-top: 40px;

    position: sticky;
    top: 200px;

}

#section4 #imagen-section4 {
 

    width: 291px;
    height: 436px;

    background-size: contain;
    background-repeat: no-repeat;

    transition: opacity 0.5s ease, transform 0.5s ease;
}

#section4 #imagen-section4.hidden {
    opacity: 0;
    transform: scale(0.95);
  }

#section4 #container-textos {
    width: 500px;
    margin-top: 60px;
}

#section4 .div-texto {
    padding: 20px ;

    margin-bottom: 350px;
}

#section4 .titulo {
    font-size: 40px ;

    line-height: 94.5%;
    font-weight: 500;
}

#section4 .texto {
    margin-top: 10px;
    font-size: 20px ;

    line-height: 94.5%;
    font-weight: 500;
}


/*########################*/
/*##      Section5      ##*/
/*########################*/

#section5 {
    background-image: url("./section5/background.svg");

    width: 1278px;
    height: 1443px;

    background-size: contain;
    background-repeat: no-repeat;

    position:relative;
}

#section5 #texto {
    margin-top: 300px;

    width: 802px;
    height: 171px;

    margin-left: 100px;

    line-height: 56px;
    font-size: 60px;

    font-weight: 600;
    color: white;
}

#section5 #div-video {
    margin-top: 40px;
    margin-left: 100px;
    
    width: 760px;
    height: 428px;

    border: white 29px solid;
    border-radius: 50px;
    padding: 0;
}

#section5 #video {
    border-radius: 20px;
    
    width: 100%;
    height: 100%;
}

#section5 #figura {
    background-image: url("./section5/figura5.svg");

    width: 638px;
    height: 989px;

    position: absolute;
    top: 300px;
    right: -120px;
}


/*########################*/
/*##      Section6      ##*/
/*########################*/


#section6 {
    width: 1280px;
    height: 1000px;

    background-color: white;

    display: flex;

    position: relative;
}

#section6 #titulo {
    margin-top: 200px;
    
    width: 746px;
    height: 285px;

    margin-left: 100px;

    line-height: 56.7px;
    font-weight: 600;
    font-size: 60px;

    color:#9D2121;
}

#section6 #texto {
    margin-top: 40px;

    width: 467px;
    height: 190px;

    font-weight: 400;
    font-size: 20px;
    line-height: 18.9px;

    margin-left: 100px;
}

#section6 #div-figura3d {
    margin-top: 200px;

    position: absolute;
    
    right: 0;
}

#section6 #figura3d {
    width: 700px;
    height: 700px;
}



/*########################*/
/*##      Section7      ##*/
/*########################*/

#section7 #background {
    display: block;

    width: 1280px;
    height: 750px;

    background-size: contain;
    background-repeat: no-repeat;


    background-image: url("./section7/allfiguresnobg2.png");

    display: block;
    position: relative;
}

#section7 #div-top,
#section7 #div-bot {
    width: 1280px;
    height: 380px;

    display: flex;

    position: relative;
}

#section7 .div {
    width: 100%;
    height: 100%;
}

#section7 #figura1 {
    background-image: url("./section7/figure1.png");

    width:85%;
    height: 85%;

    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 185px;
    margin-left: 15px; 

}

#section7 .figura {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#section7 .figura:hover {
    transform: scale(1.1);
    filter: brightness(1.3) drop-shadow(14px 14px 30px rgba(255, 255, 255, 0.5));
}

#section7 #figura2 {
    background-image: url("./section7/figure2.png");

    width: 85%;
    height: 85%;


    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 125px;
    margin-left: 25px;
}

#section7 #figura3 {
    background-image: url("./section7/figure3.png");

    width: 90%;
    height: 90%;


    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 60px;
    margin-left: 40px;
}

#section7 #figura4 {
    background-image: url("./section7/figure4.png");

    width: 90%;
    height: 90%;


    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 140px;
    margin-left: 40px;
}

#section7 #figura5 {
    background-image: url("./section7/figure5.png");

    width: 85%;
    height: 85%;


    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 55px;
    margin-left: 40px;
}

#section7 #figura6 {
    background-image: url("./section7/figure6.png");

    width: 95%;
    height: 95%;

    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 75px;
    margin-left: 5px;
}

#section7 #figura7 {
    background-image: url("./section7/figure7.png");

    width: 70%;
    height: 70%;

    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 82px;
    margin-left: 55px;
}

#section7 #figura8 {
    background-image: url("./section7/figure8.png");

    width: 95%;
    height: 95%;

    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 75px;
    margin-left: 30px;
}

#section7 #figura9 {
    background-image: url("./section7/figure9.png");

    width: 87%;
    height: 87%;

    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 89px;
    margin-left: 43px;
}

#section7 #figura10 {
    background-image: url("./section7/figure10.png");

    width: 85%;
    height: 85%;

    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 65px;
    margin-left: 40px;
}

/*########################*/
/*##      Section8      ##*/
/*########################*/

#section8 #div-texto {
    width: 1280px;
    height: 170px;

    position: relative;

}

#section8 h2 {
    margin-top: 200px;
    margin-left: 100px;

    width: 816px;
    height: 171px;

    font-weight: 600;
    font-size: 60px;
    line-height: 56.7px;
}

#section8 form {
    width: 700px;
    height: 100px;

    border:solid #FFFFFF 10px;
    border-radius: 50px;

    margin-left: 100px;

    box-shadow: 4px 5px 0px 0px #02187E;

    display: flex;
    align-items: center;

}

#section8 input {
    margin-left: 10px;
    flex:2;
    height: 100%;

    background-color: #ECECEC;
    border: none;
    padding-left: 30px;
    border-radius: 50px 0 0px 50px;
    margin: 0;

    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 18.9px;
}

#section8 button {
    flex: 1;
    height: 100%;
  
    background-color: #83C252;
    border: none;

    border-radius: 0px 50px 50px 0px;
    cursor: pointer;

    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 18.9px;


    letter-spacing: 0.11em;

    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #FFFFFF;

    border-left: 15px #FFFFFF solid;
}

#section8 #texto {
    margin-top: 30px;
    width: 578px;
    height: 95px;

    margin-left: 100px;

    line-height: 94.5%;
    font-size: 20px;
    font-weight: 400;
}

#section8 #texto span {
    text-decoration: underline;
}

#section8 #imagen {
    background-image: url("./section8/politica.svg");
    width: 231px;
    height: 145px;
    margin-left: 100px;
}

#section8 #div-background {
    background-image: url("./section8/background.svg");

    width: 1280px;
    height: 1296px;

    position: relative;

    z-index: 0;
}

#section8 #suelo {
    width: 1280px;
    height: 389px;

    background-image: url("./section8/suelo.svg");

    bottom: 0;

    position: absolute;

    z-index: 1;
}

#section8 #figura2 {
    /*background-image: url("./section8/figura2.svg");*/

    width: 480px;
    height: 480px;

    position: absolute;
    bottom: 10px;

    left: 60px;

    z-index: 2;

    background-size: contain;
    background-repeat: no-repeat;
}

#section8 #figura3 {
    /*background-image: url("./section8/figura3.svg");*/

    width: 509px;
    height: 509px;

    position: absolute;
    bottom: 10px;

    left: 425px;

    z-index: 2;

    background-size: contain;
    background-repeat: no-repeat;
}

#section8 #figura7 {
    /*background-image: url("./section8/figura7.svg");*/

    width: 561px;
    height: 997px;

    position: absolute;
    bottom: 120px;
    right: -10px;

    z-index: 2;

    background-size: contain;
    background-repeat: no-repeat;
}

#section8 #figura7 iframe {
    transform: scale(2.5);
    transform-origin: top left;
}

@keyframes move {
    0% {background-position-x: -387px;}
    100% {background-position-x: 1280px;}
}

#section8 #nube1 {
    background-image: url("./section8/nube1.svg");

    width: 1280px;
    height: 181px;

    position: absolute;
    top: 170px;

    background-size: contain;
    background-repeat: no-repeat;
    
    background-position-x: -387px;

    animation: move 15s infinite linear;

    animation-delay: 6s;
}

#section8 #nube2 {
    background-image: url("./section8/nube2.svg");

    width: 1280px;
    height: 124px;

    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    top: 150px;

    background-position-x: -387px;

    animation: move 10s infinite linear;
}

#section8 #nube3 {
    background-image: url("./section8/nube3.svg");

    width: 1280px;
    height: 181px;

    background-position-x: -387px;

    background-size: contain;
    background-repeat: no-repeat;

    animation: move 17s infinite linear;
    animation-delay: 10s;
}

#section8 #sprite-image {
    width: 200px;
    height: 200px;
    border-radius: none;
    image-rendering: pixelated; /* Mantiene los píxeles nítidos */
    position: absolute;
    top: -200px;
    right: 50px;
}

/*########################*/
/*##      Footer        ##*/
/*########################*/

#footer {
    width: 1280px;
    height: 595px;

    background-color: #5E5E5D;

    position: relative;
}

#footer #marcas {
    background-color: #242424;


    width: 100%;
    height: 80px;
    

    background-size: contain;
    background-repeat: no-repeat;

    position: relative;
}

#footer #imagen {
    width: 1080;
    height: 70;

    margin-left: 100px;
}

#footer #div-texto {
    margin-left: 100px;
    margin-top: 50px;
    color: #FFFFFF;

    font-weight: 400;
    font-size: 20px;
    line-height: 18.9px;

    width: 820px;
    height: 361px;

    padding-bottom: 20px;
}

#footer p {
    margin-bottom: 30px;
}

#footer #logos {
    background-image: url("./footer/redes.svg");

    width: 212px;
    height: 41px;

    margin-top: 40px;
}
