* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

/* Variables de colores y fuentes */
:root {
  --bg-dark: #161e27;
  --bg-dark-2: #141a21;
  --bg-light: #f1f8ff;

  /* Colores primarios */
  --primario-300: #80aee0;
  --primario-400: #5e8cbe;
  --primario-500: #4e79a7;
  --primario-600: #335375;
  --primario-700: #223952;

  /* Colores secundarios  */
  --secundario-300: #2f4155;
  --secundario-400: #253649;
  --secundario-500: #1e2e41;
  --secundario-600: #1c2733;
  --secundario-700: #161e27;

  /* Colores acento  */
  --acento-300: #ffa5a5;
  --acento-400: #ff8484;
  --acento-500: #ff6b6b;
  --acento-600: #ec5454;
  --acento-700: #ce4747;

  /* Colores texto */
  --text-dark: #141414;
  --text-light: #fafafa;
}

/* ESTILO TEXTOS */
.text-dark {
  color: var(--text-dark);
}

.text-light {
  color: var(--text-light);
}

.silkscreen {
  font-family: "Silkscreen", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.h1 {
  /* Título H1 COPY PASTE DE FIGMA*/

  /* Título-H1 */
  font-family: "Silkscreen", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  /* identical to box height */
  margin: 0;
}

.h1alt {
  /* Título H1 ALTER*/

  /* Titulo-H1 */
  font-family: "Baloo 2", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 51px;
}

.h2 {
  /* Título H2 COPY PASTE DE FIGMA, son todos copypaste*/

  /* Título-H2 */
  font-family: "Silkscreen", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  margin: 0;
}

.h3 {
  /* Título H3 */

  font-family: "Silkscreen", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */
  margin: 0;
}

.h4 {
  /* Título H4 */

  font-family: "Silkscreen", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  margin: 0;
}

.body0 {
  /* Body 0 COPIADO FIGMA CSS*/

  /* Body-0 */
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 35px;
}

.body1 {
  /* Body-1 */

  font-family: "Baloo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height */
}

.body2 {
  /* Body-2 */

  font-family: "Baloo 2", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height */
}

.body3 {
  /* Body-3 */

  font-family: "Baloo 2", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height */
}

.placeholder::placeholder {
  color: var(--bg-dark);
  font-family: "Silkscreen", sans-serif;
  font-style: normal;
  font-weight: 500;
  opacity: 0.4;
}

/* FIN ESTILO TEXTOS */

/* ===================== */
/*        MAIN           */
/* ===================== */

main {
  height: 100vh;
  background-color: var(--primario-700);

  /* Evita que el contenido sea tapado por el header agregandole un padding del mismo height que el header */
  padding-top: 67px;
  padding-left: 10%;
  padding-right: 10%;
}

/* FIN MAIN */

/* SIDEBAR POPOVER */
#sidebar {
  background-color: var(--bg-dark-2);
  padding: 0px;
  margin: 0px;
  margin-top: 65px;
  padding-top: 20px;
  height: 100%;
  border: none;
  width: 200px;
}

#sidebar a {
  text-decoration: none;
  opacity: 0.6;
  margin-left: 10px;
  text-align: justify;
  display: flex;
  align-items: center;
}

#sidebar i {
  color: var(--text-light);
  opacity: 0.6;
  margin-right: 15px;
}

#sidebar ul {
  list-style-type: none;
}

#sidebar li {
  list-style-type: none;
  margin-bottom: 25px;
  margin-left: 15px;
}

/* FIN SIDEBAR POPOVER */

/* ===================== */
/*        HEADER         */
/* ===================== */

header {
  width: 100%;
  position: fixed;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 55px;
  max-height: 55px;
  padding-top: 10px;
  background-color: var(--bg-dark);
  color: var(--text-light);
  border-bottom: solid 2px var(--bg-dark-2);

  z-index: 1000;
}

header div {
  /*border: solid red 1px;*/
  height: 50px;
  width: 100%;
}

/* DIV A */
#head-div-a {
  display: flex;
  flex-direction: row;
  max-height: 40px;
  width: 100%;
}

#head-div-a div {
  display: flex;
  flex-direction: row;
  max-height: 40px;
  padding: 0px 15px;
}

#div-hamburguesa {
  width: 30px;
}

#btn-hamburguesa {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  color: var(--text-light);
  margin: 0;
}

#logo-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 5px;
}

#logo-header {
  width: 40px;
  height: 40px;
  margin: 0;
  cursor: pointer; /* SE PUEDE SACAR 8 */
}

/* FIN DIV A */

/* DIV B */

#head-div-b {
  margin-left: 100px;
}

#div-buscar {
  position: relative;
  max-width: 400px;
}

#div-buscar input {
  padding: 10px 15px;
  width: 96%;
  border: none;
  border-radius: 50px;
  background-color: var(--primario-600);
  outline: none;
}

#div-buscar input::placeholder {
  all: unset;
  color: var(--text-light);
  opacity: 0.4;
}

#div-buscar input:focus {
  border: 1px solid #007bff; /* Cambia el color y el grosor del borde al hacer clic */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Opcional: agrega una sombra */
}

#div-buscar button {
  border: none;
  background: none;
  display: inline-block;
  position: absolute;
  right: 0%;
  top: 15%;
  opacity: 0.4;
  color: var(--text-light);
  cursor: pointer;
}

/* FIN DIV B */

/* DIV C */

#head-div-c {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

#div-iconos-header {
  float: right;
  max-width: 200px;
  padding: 15px 20px;
}

#div-iconos-header a {
  margin: 0px 10px;
  cursor: pointer;
}

/* FIN DIV C */

/* FIN HEADER */

/* ===================== */
/*     LOGIN/REGISTER    */
/* ===================== */

#section-login,
#section-register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #223952;
}

.img-back-login {
  width: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.4;
}

.div-login,
.div-register {
  z-index: 10;
  background-color: #335375;
  padding: 0 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  justify-content: center;
}

/* Título */
.div-title-login {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  justify-content: center;
}

/* Estilos del formulario */
.formLogin,
.formRegister {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

/* REGISTER FORM */
.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.formGroup label {
  color: var(--text-light);
  opacity: 0.6;
}

.formRegister input {
  width: 90%;
  display: flex;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

/* FIN REGISTER FORM */

.formLogin input {
  width: 100%;
  display: flex;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
}

.usuarioForm {
  display: flex;
  width: 100%;
}

.contraseñaForm {
  position: relative;
  display: flex;
  width: 100%;
}

.contraseñaForm button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
  opacity: 0.4;
}

.optionsRowLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* ESTILO RECORDARME Y CHECKBOX */

.recordarmeForm {
  display: block;
  position: relative;
  padding-left: 30px;

  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.recordarmeForm p {
  color: var(--text-light);
  opacity: 0.6;
  margin: 0;
}

.recordarmeForm input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 5px;
  height: 15px;
  width: 15px;
  background-color: none;
  border: solid 2px var(--bg-light);
  opacity: 0.4;
  border-radius: 5px;
}

.recordarmeForm:hover input ~ .checkmark {
  background-color: none;
}

.recordarmeForm input:checked ~ .checkmark {
  background-color: var(--primario-300);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.recordarmeForm input:checked ~ .checkmark:after {
  display: block;
}

.recordarmeForm .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid var(--text-light);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* FIN RECORDARME Y CHECKBOX */

.olvideContraseña {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  color: var(--acento-500);
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px; /* Ajusta el espacio entre el texto y el subrayado */
}

.btnSubmitLogin {
  border: none;
  background: none;
  background-color: var(--secundario-500);
  color: var(--text-light);
  border-radius: 50px;
  padding: 5px 0px;
  width: 80%;
  font-size: 18px;
  cursor: pointer;
}

.btns-login-redes {
  display: flex;
  flex-direction: row;

  gap: 10px;
  padding-top: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

.googleBtn {
  background: none;
  background-color: var(--bg-light);
  border: solid black 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  height: 40px;
  padding: 20px 10px;
  width: 100%;
}

.facebookBtn {
  background: none;
  background-color: #3b5998;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  height: 40px;
  padding: 20px 15px;
  width: 100%;
  gap: 5px;
  color: #ffffff;
}

.googleBtn img {
  height: 30px;
}

.facebookBtn img {
  height: 20px;
}

.noAccount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
  color: rgba(168, 55, 55, 0.5);
  font-size: 14px;
}

.noAccount p {
  color: var(--text-light);
  opacity: 0.4;
}

.noAccount a {
  color: var(--text-light);
  text-decoration: none;
  opacity: 1;
  padding-left: 5px;
}

.noAccount a:hover {
  text-decoration: underline;
}

/* FIN LOGIN */

/* ESTILOS GENERALES DE LOS CARRUCELES */
.boton-juego {
  border: none;
  border-radius: 50px;
  min-width: 100px;
  height: 25px;
  cursor: pointer;
  background: var(--primario-300);
  color: var(--text-light);
  transition: background 100ms ease-in-out;
}

.boton-juego:hover {
  background: var(--primario-500);
}

.boton-juego:active {
  background: var(--primario-400);
}

.color-boton-pago {
  background: var(--acento-500);
}

.color-boton-pago:hover {
  background: var(--acento-600);
}

.color-boton-pago:active {
  background: var(--acento-400);
}

.juego-precio-container {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.tarjeta-juego {
  position: relative;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.tarjeta-destacado-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-dark);
  opacity: .5;
  z-index: 1;
}

.juego-nombre-container, .juego-precio-container {
  z-index: 2; 
}

.juego-nombre-container {
  margin-bottom: 15px;
}

.enCarrito {
  opacity: .7;
}

/* INICIO CARRUCEL DESTACADOS */

.boton-destacado {
  min-width: 120px;
  height: 40px;
  padding: 0 15px;
}

.carrucel-destacados-container {
  margin-top: 60px;
}

.carrucel-destacados-container h2 {
  margin-bottom: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.tarjeta-destacado-container {
  width: 320px;
  height: 180px;
}

.titulo-destacado {
  margin: auto;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;}

/* FIN CARRUCEL DESTACADOS */
